<html>
    <head>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/home.css">
        <link rel="stylesheet" href="../styles/catchMeLyin.css">
    </head>
    <body>
        <header>
            <h1>Hannah Wallaker!</h1>
            <h3>A role model of mine once said, "Life's short, talk fast."</h3>
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="views/catchMeLyin.html">Catch me lyin'</a></li>
                <li><a href="https://www.w3schools.com/">More info</a></li>
            </ul>
        </nav>
        <main>
            <h3>Two Truths and a Lie:</h3>
            <table>
                <tr class="truth">
                    <th>1st</th>
                    <td>I have three sisters and two brothers</td>
                </tr>
                <tr class="Lie">
                    <th>2nd</th>
                    <td>I love mountains because I love heights</td>
                </tr>
                <tr class="Truth">
                    <th>3rd</th>
                    <td>I broke my nose on a Carnival Cruise</td>
                </tr>
            </table>
        </main>
        <footer>
            <div>101121-JavaExt.</div>
        </footer>
    </body>
</html>