<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
</head>

<body>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Employee ERS</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">User Info</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Reimbursements
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">View Resolved Requests</a></li>
                      <li><a class="dropdown-item" href="#">View Pending Reimbursements</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Create a New Request</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="logout-button">Logout</a>
                </li>
                </ul>
              </div>
            </div>
          </nav>

          <main class="container-fluid mx-auto " style="padding: 0 7.5em;">
            <div class="container align-content-center" id="loginForm">
                <br>
                <br>
                <br>
                <br>
                <form>
                    <div id="bottomBorder" class="form-row justify-content-center">
                        <h1 class="display-4">Login</h1>
                    </div>
                    <hr>
                    <br>
                    <div class="form-row justify-content-center">
                        <label>Username:</label>
                    </div>
                    <div class="form-row justify-content-center">
                        <input class="inputstyle" type="text" name="username" id="username">
                    </div>
                    <br>
                    <div class="form-row justify-content-center">
                        <label>Password:</label>
                    </div>
                    <div class="form-row justify-content-center">
                        <input class="inputstyle" type="password" name="password" id="password">
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="form-row justify-content-center">
                        <input class="btn btn-outline-secondary" value="Login" id="submitButton">
                    </div>
                    <br>
                    <br>
                    <div class="form-row justify-content-center">
                        <div style="color:red;" id="error-div"></div>
                    </div>
                </form>
        </main>


        <script src="../scripts/login.js"></script>

</body>
</html>